@charset "ISO-8859-1";

body {
	font: bold 11px/1.5em Verdana;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	border-top: 1px solid #CCCCCC;
	height: 1px;
	margin-bottom: 25px;
}

#tabs {
	float: left;
	width: 100%;
	background: #F4F7FB;
	font-size: 93%;
	line-height: normal;
	border-bottom: 1px solid #BCD2E6;
}

#tabs ul {
	margin: 0;
	padding: 10px 10px 0 50px;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

#tabs a {
	float: left;
	background: url("tableft.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
}

#tabs a span {
	float: left;
	display: block;
	background: url("tabright.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #627EB7;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {
	float: none;
}
/* End IE5-Mac hack */
#tabs a:hover span {
	color: #627EB7;
}

#tabs a:hover {
	background-position: 0% -42px;
}

#tabs a:hover span {
	background-position: 100% -42px;
}